.banner {
  width: 100vw;
  height: 300px;
  position: relative;
  object-fit: contain;

  @media screen and (max-width: 768px) {
    height: 200px;
  }

  .bannerImage {
    object-fit: cover;
  }
}
