@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.navigation {
  height: 58px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0.5rem;
  background-color: #fff;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  background-color: #fff;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;

  @media screen and (max-width: 768px) {
    display: block;
  }
}

.brand-name {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  font-family: "Permanent Marker";
  transform: translateX(-4%);
  z-index: 1;

  svg {
    transform: translateX(38%) translateY(4%) rotate(25deg);
  }

  div {
    z-index: 2;
  }
}

.navigation-menu {
  margin-left: auto;

  ul {
    display: flex;
    padding: 0;

    @media screen and (max-width: 768px) {
      // navigation menu is positioned to start 60px from the top of the document (which is directly below the navbar)
      position: absolute;
      top: 58px;
      left: 0;
      flex-direction: column;
      width: 100%;
      height: calc(100vh - 77px);
      background-color: white;
      margin: 0;
      display: none;

      &.expanded {
        display: block;
      }
    }
  }

  li {
    list-style-type: none;
    margin: 0;

    :hover {
      background-color: whitesmoke;
    }

    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }

  a {
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1rem 0.75rem;
  }
}
